<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="cps-fct-hk" value="https://pkgs.dev.azure.com/CPSDTS/3b3a9c15-8784-4e3c-a691-2dca033b6347/_packaging/cps-fct-hk/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
